
.chartWrapper {
    width: 100%;
    height: 100%;
   
    
}

.chart {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--bg-middle-color);
    border: 1px solid var(--border-global-color);
    padding: 5px;
}