.cryptoItem {
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: 30px 1fr 1fr 1fr;
    padding: 10px;
    color: white;
}

.cryptoItem:hover {
    background-color: #272727;
}

.cryptoNameInfo {
    margin-left: 10px;
}

.favourites {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0 auto;
}

.cryptoInfo {
    display: flex;
    align-items: center;
}

.cryptoIcon {
    width: 32px;
    height: 32px;
}

.name {
    margin-right: auto;
    margin-left: 10px;
}

.symbol {
    font-weight: 500;
}

.nameOriginal {
    color: var(--text-middle-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.priceChangeWrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 0.85rem;
}

.changeIcon {
    width: 32px;
    margin-right: 10px;
}

.changeUp {
    color: var(--change-up-color);
}

.changeDown {
    color: var(--change-down-color);
}

.priceChange {
    text-align: end; 
}

.price {
    text-align: end;
}


.priceChangePercent {
    color: color-mix(in srgb, currentColor 65%, black);
    text-align: end;
}

.priceChangeInfo {
    
}