.header {
    width: 100%;
    height: 100%;
    background-color: var(--bg-middle-color);
    border-radius: 10px;
    border: 1px solid var(--border-global-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: white;
}

.logo {
    cursor: pointer;
}

.logoIcon {

}

.logoName {
    font-weight: 700;
    font-size: 24px;
}

.nav {
    margin-left: 30px;
    margin-right: auto;
}

.navList {
    display: flex;
    align-items: center;

}

.navItem {
    margin: 0 30px;
    cursor: pointer;
}

.search {
    background-color: rgb(66, 66, 66);
}

.userMenu {
    display: flex;      
    align-items: center;                     
}

.userMenu > * {
    margin: 0 10px;
    width: 30px;
    height: auto;
    align-items: center;
    cursor: pointer;
}
.settings {

}

.notification {

}

.userProfile {

}