.layout {
    display: grid;
    grid-template-rows: auto 5fr;
    grid-template-columns: 4fr minmax(200px, 1fr);
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.content {
}


.headerWrapper {
    grid-column: 1 / 3;
    height: 50px;
    
}

.mainBar {

}

.sideBar {
    width: 100%;
    min-height: 0;
}