.coinsListWrapper {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
    background-color: var(--bg-middle-color);
    border-radius: 10px;
    border: 1px solid var(--border-global-color);
    min-height: 0;
}

.coinsList {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(61, 61, 61, 0.4) rgba(0, 0, 0, 0);
}

.coinsList::-webkit-scrollbar {
    width: 8px;
}

.coinsList::-webkit-scrollbar-thumb {
    background-color: rgba(78, 78, 78, 0.4);
    border-radius: 4px;

}

.coinsList::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    margin-right: 5px;
}

.coinsList::-webkit-scrollbar-button {
    display: none;
}

.legendCoins {
    color: var(--text-middle-color);
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--border-global-color);
    font-size: 0.75rem;
}

.legendItemIcon {
    margin: 0 auto;
    width: 18px;
}

.legendItemCoins {
    text-align: center;
}

.legendItemPrice {
    text-align: end;
}

.legendItemChange {
    text-align: center;
}